@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@100&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: rgba(242, 243, 245, 1);
    min-width: 100%;
}

a{
    text-decoration: none;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 90px;
}

.logo{
    cursor: pointer;
}

.main-nav{
    list-style: none;
}

.main-nav li{
    display: inline-block;
    padding: 0 30px;

}

.main-nav li a{
    font-family: 'Galano Grotesque', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #131D3B;
    transition: all 0.2s ease;
    
}

.main-nav li a:hover{
    color: rgb(255,0,0);
}

button{
    cursor: pointer;
    color:#FFF;
    font-size: 18px;
    letter-spacing: px;
    padding: 10px 30px;
    background: rgb(255,0,0);
    border: none;
}
         /* Home Section */

.bg-image img{
    width: 1349px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.heading-content{
    position: relative;
    left: 50px;
}

.home-content{
    position: absolute;
    width: 606.56px;
    height: 800px;
    left: 410px;
    top: 300px;
}

.home-content h1{
    font-family: 'Galano Grotesque', sans-serif;
    font-weight: 700;
    font-size: 52px;
    line-height: 81px;
    color: #F2F3F5;
  
}

.home-content button{
    margin-top: 100px;
    margin-left: 160px;
}

    /* vactor-1 */
.vactor-1{
    position: absolute;
    width: 43px;
    height: 43px;
    left: -38px;
    top: -29px;
    border: 7.62914px solid #EC1C24;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-right: none;
    border-bottom: none;
}

.vactor-2{
    position: absolute;
    width: 43px;
    height: 43px;
    left:490px;
    top: 150px;
    border: 7.62914px solid #EC1C24;
    transform: rotate(-180deg);
    border-bottom: none;
    border-right: none;
}