@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: rgba(242, 243, 245, 1);
    min-height: 100vh;
    width: 100%;
    
}

a{
    text-decoration: none;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 90px;
}

.logo{
    cursor: pointer;
}

.main-nav{
    list-style: none;
}

.main-nav li{
    display: inline-block;
    padding: 0 30px;
    transition: all 0.4s ease;

}

.main-nav li a{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #131D3B;
    transition: all 0.2s ease;
    
}

.main-nav li a:hover{
    color: rgb(255,0,0);
}

.main-nav li:hover{
    transform: scale(1.3);
}

button.btn{
    cursor: pointer;
    color:#FFF;
    font-size: 18px;
    letter-spacing: px;
    padding: 10px 30px;
    background: rgb(255,0,0);
    border: none;
}

         /* Home Section */

.bg-image img {
    width: 1349px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.heading-content{
    position: relative;
    left: 50px;
}

.home-content{
    position: absolute;
    width: 606.56px;
    height: 800px;
    left: 410px;
    top: 300px;
}

.home-content h1{
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-size: 52px;
    line-height: 81px;
    color: #F2F3F5;
  
}

.home-content button{
    margin-top: 100px;
    margin-left: 160px;
}

    /* vactor-1 */
.vactor-1{
    position: absolute;
    width: 43px;
    height: 43px;
    left: -38px;
    top: -29px;
    border: 7.62914px solid #EC1C24;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-right: none;
    border-bottom: none;
}

.vactor-2{
    position: absolute;
    width: 43px;
    height: 43px;
    left:490px;
    top: 150px;
    border: 7.62914px solid #EC1C24;
    transform: rotate(-180deg);
    border-bottom: none;
    border-right: none;
}

      /* Services Section */

.heading-blue{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 30%;
    
}

.heading-blue h1{
    color: #131D3B;
    font-size: 35px;
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
    
    
}

.content-blue {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 10.79%;
    right: 37.35%;
    top: 140%;
    padding:0px 100px;
    margin-top: 40px;
    ;
    
}

.content-blue span{
    position: relative;
    left: 70px;
    background: #131D3B;
    padding:65px 100px;
    color: #FFFFFF;
    font-family: 'Roboto',sans-serif; 
    font-size: 17px;
    line-height: 25px;
    font-style: normal;
}

.content-red {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 63%;
    right: 37.35%;
    top: 166%;
    bottom: 0%;
    padding: 0 100px;
}

.content-red span{

    background: #EC1C24;
    padding:115px 40px;
    color: #FFFFFF;
    font-family: 'Roboto',sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 25px;
}

    /* goal */

.goal{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mission, .vision, .culture{
    width: 25%;
    padding: 15px 40px;
    left: 20px;
    margin: 0px -40px;
}


.mission h4,.vision h4{
    font-family: 'Roboto',sans-serif;
    font-size: 24px;
    font-weight: 600;
    color:#131D3B;
    margin-bottom: 1.6rem;
}

.culture h4{
    position: relative;
    font-family: 'Roboto',sans-serif;
    font-size: 24px;
    font-weight: 600;
    color:#131D3B;
    bottom: 30px;
    left: 20px;
}

.mission p, .vision p{
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    color: #131D3B;
    font-size: 14px;
    line-height: 20px;
}

.culture p{
    position: relative;
    top:-10px;
    left: 20px;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    color: #131D3B;
    font-size: 14px;
    line-height: 20px;
}

.mission a ,.vision a{
     position: relative;
     top: 10px;
     color: #EC1C24;
     font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.culture a{
    position: relative;
    top: 10px;
    left: 25px;
    color: #EC1C24;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

 /* Browse our systems */

 .browse{
    margin-top: 70px;
 }

 .bg-img img{
    width: 1349px;
 }

.heading-white{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -380px;
}
.heading-white{
    color: rgba(242, 243, 245, 1);
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 56px;
    
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
}

.icon1 span ,.icon2 span,.icon3 span,.icon4 span,.icon5 span{
    color: #131D3B;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
    position: relative;
    left:10px;
}

.icon1 img{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 55px;
    bottom:30px;
}

.icon2 img{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 60px;
    bottom:30px;
}

.icon3 img{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 60px;
    bottom:35px;
}

.icon4 img{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 60px;
    bottom:40px;
}
.icon5 img{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 60px;
    bottom:40px;
}

.icon1{
    background: #F2F3F5;
    justify-content: center;
    padding: 55px 25px;
    margin-right: 10px;
    width: 200px;
    
}

.icon2{
    background: #F2F3F5;
    justify-content: center;
    padding: 55px 13px;
    margin-right: 10px;
    width: 200px;
}

.icon3{
    background: #F2F3F5;
    justify-content: center;
    padding: 55px 10px;
    margin-right: 10px;
    width: 200px;
}

.icon4{
    background: #F2F3F5;
    justify-content: center;
    padding: 55px 10px;
    margin-right: 10px;
    width: 200px;
}

.icon5{
    background: #F2F3F5;
    justify-content: center;
    padding: 55px 10px;
    margin-right: 10px;
    width: 200px;
}

.icon1 span{
    position: relative;
    left:40px;
}

.icon2 span{
    position: relative;
    left:40px;
}

.icon3 span{
    position: relative;
    left:10px;
}

.icon4 span{
    position: relative;
    left:40px;
}

.icon5 span{
    position: relative;
    left:10px;
}

/* Founder section */

#founders{
    background: #131D3B;
}

.founders-heading{
    display: flex;
    justify-content: center;
    align-items: center;   
    margin-top: 70px;
    margin-bottom: 90px;
}

.founders-heading h1{
    font-family: 'Roboto',sans-serif;
    color: #F2F3F5;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
    position: relative;
    top: 60px;
}

.founders-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.founder-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(242, 243, 245, 1);
    margin-right: 30% ;
    padding: 70px;
}

.founder-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(242, 243, 245, 1);
    padding: 70px;
}

.founder-1 h3{
    position: absolute;
    width: 230px;
    height: 100px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 32px;
    text-transform: capitalize;
    color: #131D3B;
}
.founder-2 h3{
    position: absolute;
    width: 250px;
    height: 100px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 29px;
    line-height: 32px;
    text-transform: capitalize;
    color: #131D3B;
}

.founder-1 p{
    position: absolute;
    width: 150px;
    height: 10px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #131D3B;
}

.founder-2 p{
    position: absolute;
    width: 170px;
    height: 10px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #131D3B;
    
}

.founder-1 img{
    transform: translateY(-70%);
    width: 90%;
}

.founder-2 img{
    transform: translateY(-70%);
    width: 90%;
}

button.btnn{
    color: #131D3B;
    background: #F2F3F5;
    border: 2px #EC1C24 solid;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 25px 0;
    cursor: pointer;
}

button i{
    color: #EC1C24;
    margin-left: 10px;
}

.client-heading h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    color: #F2F3F5;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 20px;
}

.clients{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 180px;
    position: relative;
    top: -100px;
}

.client-1,.client-2,.client-3,.client-4,.Client-5{
    background: #F2F3F5;
    margin-right: 20px;
    width: 220px;
    height: 250px;
    align-items: center;
    justify-content: center;
    display: flex;

}   

  /* Founders Projects  */

  .projects-headings{
       padding: 40px 150px;
       font-family: 'Roboto',sans-serif;
       font-style: normal;
       font-weight: 500;
       font-size: 16px;
       line-height: 28px;
       color: #131D3B;
  }

  .projects{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .projects img{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
      
        /* Projects Card 1 */

  .project-1 img{
      width: 360px;
      height:465px;
  }
  .project-1{
    width:360px;
  }
  .project-1 h3{
       position: relative;
       top: -430px;
       left: 20px;
       font-family: 'Roboto',sans-serif;
       font-style: normal;
       font-weight: 500;
       font-size: 22px;
       line-height: 37px;
       color: #F2F3F5;
  }

  .project-1 span{
    position: relative;
       top: -430px;
       left: 20px;
       line-height: 30px;
       font-family: 'Roboto',sans-serif;
       font-style: normal;
       font-weight: 400;
       font-size: 14px;
       color: #F2F3F5;
  }
   
  .project-1 hr{
    position: relative;
    top: -430px;
    left: 20px;
    width: 70%;
    opacity: 0.5;
    border: 1px solid #F2F3F5;
  }

  .project-1 p{
    position: relative;
    top: -410px;
    left: 20px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #F2F3F5;
  }
  .project-1 a{
    position: relative;
    top: -130px;
    left:240px;
    color: #F2F3F5;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    text-transform: uppercase;
  }

  .project-1 a:hover{
    color: red;
    transition: all 0.3s ease;
  } 
   
     /* Projects Card 2 */

  .project-2 img{
    width: 360px;
    height:465px;
}
.project-2{
  width:360px;
}
.project-2 h3{
     position: relative;
     top: -430px;
     left: 20px;
     font-family: 'Roboto',sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 22px;
     line-height: 37px;
     color: #F2F3F5;
}

.project-2 span{
  position: relative;
     top: -430px;
     left: 20px;
     line-height: 30px;
     font-family: 'Roboto',sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     color: #F2F3F5;
}
 
.project-2 hr{
  position: relative;
  top: -430px;
  left: 20px;
  width: 70%;
  opacity: 0.5;
  border: 1px solid #F2F3F5;
}

.project-2 p{
  position: relative;
  top: -410px;
  left: 20px;
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #F2F3F5;
}
.project-2 a{
  position: relative;
  top: -130px;
  left:240px;
  color: #F2F3F5;
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  text-transform: uppercase;
}

.project-2 a:hover{
  color: red;
  transition: all 0.3s ease;
}


 /* Projects Card 3 */

 .project-3 img{
    width: 360px;
    height:465px;
}
.project-3{
  width:360px;
}
.project-3 h3{
     position: relative;
     top: -430px;
     left: 20px;
     font-family: 'Roboto',sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 22px;
     line-height: 37px;
     color: #F2F3F5;
}

.project-3 span{
  position: relative;
     top: -430px;
     left: 20px;
     line-height: 30px;
     font-family: 'Roboto',sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     color: #F2F3F5;
}
 
.project-3 hr{
  position: relative;
  top: -430px;
  left: 20px;
  width: 70%;
  opacity: 0.5;
  border: 1px solid #F2F3F5;
}

.project-3 p{
  position: relative;
  top: -410px;
  left: 20px;
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #F2F3F5;
}
.project-3 a{
  position: relative;
  top: -130px;
  left:240px;
  color: #F2F3F5;
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  text-transform: uppercase;
}

.project-3 a:hover{
  color: red;
  transition: all 0.3s ease;
}


/* Request A Quote */
 
#form
{
    height: 100vh;
    width: 100%;
}


.wrapper{
     display: flex;
    flex-direction: column;
     height: 100%;

}

    
.req-quote{
    display: flex;
   justify-content: center;
   flex-direction: column;
   width: 30%;
   padding: 10px;
   
}

form{
    display:flex;
    
    flex-direction: column;
    width: 100%;
    
}

input{
    width: 100%;
    margin-bottom: 15px;
    padding: 10px 18px;
    border-radius: 3px;
    border: 2px solid #e0e0e0;
    outline:0;
    background: rgba(242, 243, 245, 1);
    height: 45px;
}

.req-quote h1{
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #131D3B;

}
input::placeholder{
    background: rgba(242, 243, 245, 1);
    font-size: 12px;
    text-transform: uppercase;
    opacity: 0.5;
}

form textarea{
    outline: 0;
    background: rgba(242, 243, 245, 1);
    border: 2px solid #e0e0e0;
}
.wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#submit{
    margin-top: 30px;
}

.our-promise{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    padding: 10px;
    margin-bottom: 150px;
}

.our-promise h1{
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #131D3B;
    margin-top: 100px ;

}

.safety h5{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #131D3B;
    border: 2px #e0e0e0 solid;
    padding: 18px;
   
    
}
.safety{
    margin-bottom: -25px;
}

.safety img{
    position: relative;
    top:-45px;
    left:400px;
}

.quality h5{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #131D3B;
    padding: 18px;
    
}

.quality img{
    position: relative;
    top:-45px;
    left:400px;
}

.quality p{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #131313;
   padding: 10px;
    margin-top: -40px;
    width: 100%;
    

}

.quality{
    border: 2px #e0e0e0 solid;
}

/* Footer Section  */


.footer{
    width: 100%;
    height: 360px;
    background: #131D3B;
    color: #e0e0e0;
    position: relative;
}

.footer-bottom span{
    position: absolute;
    text-align: end;
    top: 85%;
    left: 50%;
    right: 30%;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.65;
}
 
.footer-content img{
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 40px;   
}

.footer-content p{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #F2F3F5;
    margin-left: 130px;
    margin-bottom: 10px;
    opacity: 0.8;
}

.footer-content h5,h6{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 27px;
    color: #F2F3F5;
    margin-left: 130px;
}

.footer-links {
    position: absolute;
    top: 60px;
    left: 50%;  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} 

.footer-links ul li a{
    color: #e0e0e0;
    margin-bottom: 90px;
    transition: all .3s ease;
}

.footer-links ul li{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    list-style: none;
    padding: 10px;
  
}

.footer-links .link{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    list-style: none;
    line-height: 35px;
   position: relative;
   bottom:155px;
   left: 300px;
    
}

.footer-links a{
   color: #e0e0e0;
   opacity: 0.9;
   
}

.footer-links li a:hover{
    color: rgb(255,0,0);
}

