@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@100&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: rgba(242, 243, 245, 1);
    min-height: 100vh;
    width: 100%;
}

a{
    text-decoration: none;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 90px;
}

.logo{
    cursor: pointer;
}

.main-nav{
    list-style: none;
}

.main-nav li{
    display: inline-block;
    padding: 0 30px;

}

.main-nav li a{
    font-family: 'Galano Grotesque', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #131D3B;
    transition: all 0.2s ease;
    
}

.main-nav li a:hover{
    color: rgb(255,0,0);
}

button{
    cursor: pointer;
    color:#FFF;
    font-size: 18px;
    letter-spacing: px;
    padding: 10px 30px;
    background: rgb(255,0,0);
    border: none;
}
         /* Home Section */

.bg-image img {
    width: 1349px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.heading-content{
    position: relative;
    left: 50px;
}

.home-content{
    position: absolute;
    width: 606.56px;
    height: 800px;
    left: 410px;
    top: 300px;
}

.home-content h1{
    font-family: 'Galano Grotesque', sans-serif;
    font-weight: 700;
    font-size: 52px;
    line-height: 81px;
    color: #F2F3F5;
  
}

.home-content button{
    margin-top: 100px;
    margin-left: 160px;
}

    /* vactor-1 */
.vactor-1{
    position: absolute;
    width: 43px;
    height: 43px;
    left: -38px;
    top: -29px;
    border: 7.62914px solid #EC1C24;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-right: none;
    border-bottom: none;
}

.vactor-2{
    position: absolute;
    width: 43px;
    height: 43px;
    left:490px;
    top: 150px;
    border: 7.62914px solid #EC1C24;
    transform: rotate(-180deg);
    border-bottom: none;
    border-right: none;
}

      /* Services Section */

.heading-blue{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 30%;
    
}

.heading-blue h1{
    color: #131D3B;
    font-size: 35px;
    font-family: 'Galano Grotesque', sans-serif; 
    font-weight: 600;
    
    
}

.content-blue {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 10.79%;
    right: 37.35%;
    top: 140%;
    padding:0px 100px;
    margin-top: 40px;
    ;
    
}

.content-blue span{
    position: relative;
    left: 70px;
    background: #131D3B;
    padding:65px 100px;
    color: #FFFFFF;
    font-family: 'Galano Grotesque', sans-serif; 
    font-size: 17px;
    line-height: 25px;
    font-style: normal;
}

.content-red {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 63%;
    right: 37.35%;
    top: 166%;
    bottom: 0%;
    padding: 0 100px;
}

.content-red span{

    background: #EC1C24;
    padding:115px 40px;
    color: #FFFFFF;
    font-family: 'Galano Grotesque', sans-serif; 
    font-size: 30px;
    font-weight: 300;
    line-height: 25px;
}

    /* goal */

.goal{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mission, .vision, .culture{
    width: 25%;
    padding: 15px 40px;
    left: 20px;
    margin: 0px -40px;
}


.mission h4,.vision h4{
    font-family: 'Galano Grotesque',sans-serif;
    font-size: 24px;
    font-weight: 600;
    color:#131D3B;
    margin-bottom: 1.6rem;
}

.culture h4{
    position: relative;
    font-family: 'Galano Grotesque',sans-serif;
    font-size: 24px;
    font-weight: 600;
    color:#131D3B;
    bottom: 30px;
    left: 20px;
}

.mission p, .vision p{
    font-family: 'Galano Grotesque',sans-serif;
    font-weight: 500;
    color: #131D3B;
    font-size: 14px;
    line-height: 20px;
}

.culture p{
    position: relative;
    top:-10px;
    left: 20px;
    font-family: 'Galano Grotesque',sans-serif;
    font-weight: 500;
    color: #131D3B;
    font-size: 14px;
    line-height: 20px;
}

.mission a ,.vision a{
     position: relative;
     top: 10px;
     color: #EC1C24;
    font-family: 'Galano Grotesque',sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.culture a{
    position: relative;
    top: 10px;
    left: 25px;
    color: #EC1C24;
    font-family: 'Galano Grotesque',sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

 /* Browse our systems */

 .browse{
    margin-top: 70px;
 }

 .bg-img img{
    width: 1349px;
 }

.heading-white{
    display: flex;
    align-items: center;
    justify-content: center;
   margin-top: -380px;
}
.heading-white{
    color: rgba(242, 243, 245, 1);
    font-family: 'Galano Grotesque',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 56px;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.icon1 span ,.icon2 span,.icon3 span,.icon4 span,.icon5 span{
    color: #131D3B;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-family: 'Galano Grotesque',sans-serif;
    text-transform: uppercase;
    position: relative;
    left:10px;
}

.icon1 img{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 55px;
    bottom:30px;
}

.icon2 img{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 60px;
    bottom:30px;
}

.icon3 img{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 60px;
    bottom:35px;
}

.icon4 img{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 60px;
    bottom:40px;
}
.icon5 img{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 60px;
    bottom:40px;
}

.icon1{
    background: #F2F3F5;
    justify-content: center;
    padding: 50px 20px;
    margin-right: 10px;
    width: 200px;
    
}

.icon2{
    background: #F2F3F5;
    justify-content: center;
    padding: 40px 10px;
    margin-right: 10px;
    width: 200px;
}

.icon3{
    background: #F2F3F5;
    justify-content: center;
    padding: 50px 10px;
    margin-right: 10px;
    width: 200px;
}

.icon4{
    background: #F2F3F5;
    justify-content: center;
    padding: 50px 10px;
    margin-right: 10px;
    width: 200px;
}

.icon5{
    background: #F2F3F5;
    justify-content: center;
    padding: 50px 10px;
    margin-right: 10px;
    width: 200px;
}

.icon1 span{
    position: relative;
    left:40px;
}

.icon2 span{
    position: relative;
    left:40px;
}

.icon3 span{
    position: relative;
    left:10px;
}

.icon4 span{
    position: relative;
    left:40px;
}

.icon5 span{
    position: relative;
    left:10px;
}